.navbar2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    background:transparent;
    backdrop-filter: blur(4px); 
    position: sticky;
  
   
}
.container-fluid{
    color: rgb(236, 164, 8);
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between ;
}
.rightnav .restnav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.leftnav .restnav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.offcanvas-body{
    height: 100%;
}
.offcanvas-start.show{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
